Source: pam-email
Section: libs
Maintainer: Peter Surda <surda@economicsofbitcoin.com>
Standards-Version: 3.9.0
Build-Depends: libcurl-dev, libpam-dev

Package: pam-email
Architecture: any
Multi-Arch: same
Description: Send tokens by email for authentication
